:root {
  --primary: #3B51C3;
  --secondary:#6BB9E5;
  --secondary-wash: #F0F8FC;
  --blue-3: #5D97DB;
  --blue-4: #3D32C0;
  --contrast: #BEF0D8;
  --black: #343248;
  --dark-gray:#6D6D6D;
  --middle-gray:#B4B4B4;
  --light-gray: #ECECEC;
  --lightest-gray: #FAFAFA;
  --box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Rubik', sans-serif;

}

h1, h2, h3, h4, p, h6 {
  color: var(--black);
  font-weight: 400;
}

h1 {
  /* font-size: 44px; */
}

h2 {
  font-family: 'Sintony', sans-serif;
  /* font-size: 28px; */
  font-weight: 400;
}

h3 {
  font-family: 'Sintony', sans-serif;
  /* font-size: 20px; */
}

h4 {
  /* font-size: 20px; */
}

p {
  /* font-size: 16px; */
}

h6 {
  font-family: 'Sintony', sans-serif;
  /* font-size: 20px; */
}

.nav-link {
  color: var(--lightest-gray);
}

.nav-link:hover {
  color: var(--blue-4);
}

/* colors */
.text-primary {
  color: var(--primary);
}

.text-blue-4 {
  color: var(--blue-4);
}

.text-lightest-gray {
  color: var(--lightest-gray);
}

.bg-contrast {
  background-color: var(--contrast);
  color: var(--blue-4);
}

.bg-blue-4 {
  background-color: var(--blue-4);
}

.bg-trans {
  background-color: rgba(244, 244, 248, 0.15);
}

/* borders and shadows */
.card, .btn, .form-control {
  border-radius: 3px;
}

.border-head {
  border-top: solid var(--primary) 6px;
}

.border-primary {
  border: solid var(--primary) .5px;
}

/* buttons */
.btn {
  border-radius: 2px;
}

.btn-primary {
  border: none;
}

.btn-lg {
  font-size: 14px;
  padding: 20px 30px;
}

.btn-sm {
  font-size: 14px;
  padding: 5px 20px;
}

/* cards */
.blockquote {
  margin: 2rem;
}

.blockquote .quote:before {
  content:'"';
  white-space: pre;
  font-size: 40px;
}

.blockquote-footer {
  text-align: right;
}

.collage-block {
  background-color: var(--secondary-wash);
  height: 20vh;
  margin-top: -10vh;
}

/* lists */
li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

a li {
  color: var(--dark-gray);
}


/* weird stuff */
.footer-cta {
  background: url(../assets/bg-waves.png) no-repeat bottom;
  height: auto;
}

.hero {
  height: 90vh;
  background: url(../assets/hero-image.png) no-repeat top center fixed;
}
